/* TODO:  FIX STRETCHING IMAGE

*/

@use 'src/Sass/global' as *;

.project-img {
  width: 100%;
  // height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}

// .swiper,
// .swiper-container,
// .swiper-slide {
//   width: 100%;
//   height: auto;
//   aspect-ratio: 1/1;
// }

// .carousel {
//   width: fit-content;
// }

// .swiper-container {
//   width: auto;
// }
