/* TODO:  fix pictures, touch sides
ADD MEDIA QUERY IN BETWEEN MOBILE/DESKTOP SIZES FOR PIC-CONT
*/

@use 'src/Sass/global' as *;

$body-perc: 0.7;
$body-corner-padding-perc: (0.2 * $body-perc) + 0.02;
$clamp-1: 6rem;
$clamp-2: 30vw;
$clamp-3: 9rem;
$bkd-width: 10%;

#projects-sec {
  grid-column: 2/3;
  display: grid;
  grid-template-rows: min-content min-content $blurb-spacing-grid min-content $blurb-spacing-grid min-content $blurb-spacing-grid;
  @media (max-width: $mobile-width) {
    // grid-template-rows: min-content min-content min-content min-content min-content min-content min-content;
    // width: 40ch;
  }
}

#projects-head-cont {
  width: $middle-column-width;
  @include resp-width();
}

.project-cont {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  @include resp-width();
  @media (max-width: $mobile-width) {
    grid-template-columns: 1fr;
  }
}

.pic-cont {
  z-index: 1;
  position: relative;
  max-height: 90%;
  margin-left: auto;
  margin-right: auto;
  aspect-ratio: 1/1;
  border-radius: 1rem;
  overflow: clip;
  border: 0.3rem solid black;
  @media (max-width: $small-mobile-width) {
    top: 0rem;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  @media (max-width: $mobile-width) and (min-width: $small-mobile-width) {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
  }
  &-right {
    @media (max-width: $mobile-width) {
      // margin-left: auto;
      // margin-right: 0;
      // margin-left: -1rem;
      // margin-right: auto;
    }
  }
  &-left {
    @media (max-width: $mobile-width) {
      // margin-left: -1rem;
      // margin-right: auto;
      // margin-left: auto;
      // margin-right: -1rem;
    }
  }
  &-right,
  &-left {
    @media (max-width: $mobile-width) {
    }
  }
}

.project-blurb-bkd {
  position: relative;
  width: calc(100% + $bkd-width);
  height: 100%;
  @media (max-width: $mobile-width) {
    width: 100%;
  }
  &-left {
    order: 0;
    // @media (max-width: $mobile-width) {
    //   order: 0;
    //   right: auto;
    // }
  }
  &-right {
    order: 1;
    right: $bkd-width;
    @media (max-width: $mobile-width) {
      order: 0;
      right: auto;
    }
  }
}

.project-bkd {
  position: absolute;
}

.project-blurb-txt {
  align-self: flex-start;
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
  position: relative;
  color: white;
  // @include resp-clamp(
  //   padding,
  //   $body-corner-padding-perc,
  //   $clamp-1,
  //   $clamp-2,
  //   $clamp-3
  // );
  &-left {
  }
  &-right {
  }
}

.upper-project-txt {
  & a {
    color: $blue;
  }
}

//ADD BULLETS, MAKE LIKE TEXT
.project-skills {
  color: $blue;
  & ul {
    padding-left: 0;
    margin: 0;
  }
  & ul li {
    // list-style-type: disc;
    display: inline-block;
    padding-left: 0.5rem;
  }
}

.project-links {
  display: flex;
  & a {
    display: flex;
    padding: 0.5rem;
    // padding-left: 0;
  }
}
