/* TODO:  
*/

@use 'src/Sass/global' as *;

$body-perc: 0.7;
$body-corner-padding-perc: (0.2 * $body-perc) + 0.02;
$clamp-1: 6rem;
$clamp-2: 30vw;
$clamp-3: 9rem;

#projects-sec {
  grid-column: 2/3;
  display: grid;
  grid-template-rows: min-content min-content $blurb-spacing-grid min-content $blurb-spacing-grid min-content $blurb-spacing-grid;
}

#projects-head-cont {
  width: $middle-column-width;
}

#pepper-blurb-cont {
  width: $middle-column-width;
  display: grid;
  grid-template-columns: 50% 50%;
}

.carousel-cont {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  overflow: auto;
  // @include resp-clamp(
  //   border-radius,
  //   $body-corner-padding-perc,
  //   $clamp-1,
  //   $clamp-2,
  //   $clamp-3
  // );
}
