$mobile-width: 35rem;
$small-mobile-width: 30rem;
$yellow: #f4ff0a;
$blue: #13fafc;
$black: #000000;
$round-corner: clamp(0.5rem, 5vw, 0.9rem);
$nav-height: 4rem;
$middle-column-width: min(75ch, 90vw);
$blurb-spacing-grid: minmax(3rem, auto);
// $middle-column-width: max(20rem, 50vw);

//mixins
@mixin resp-clamp($prop, $per, $clamp-1, $clamp-2, $clamp-3) {
  #{$prop}: clamp($clamp-1 * $per, $clamp-2 * $per, $clamp-3 * $per);
}

@mixin resp-width() {
  @media (max-width: $mobile-width) {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
