/* TODO:  use grid to center text and create sides
media query: make 1 column
adjust caption text size using percentages. 
Create title variables
make padding adjust with screen size. 
Make title font smaller
remove unneeded variables*/

#landing {
  --shooz-title-ht: clamp(5rem, 20vw, 15rem);
  --shooz-title-ht: 1rem;
  /* --title-padding: 2rem; */
  --title-padding: 2rem;
  --title-corner: clamp(0.5rem, 5vw, 2.5rem);
  --title-font-size: clamp(4rem, 15vw, 14rem);
  --title-bkd-ht: clamp(5rem, 20vw, 15rem);
  --title-caption-padding: 0.5rem;
  --caption-bkd-ht: clamp(1.2rem, 15vw, 4rem);
  --caption-font-size: clamp(0.2rem, 2vw, 1.5rem);
  /* --caption-width: clamp(30ch, 20vw, 70ch); */
  --caption-width: 45ch;
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 1fr max(20rem, 70vw) 1fr;
  grid-template-rows: min-content 1fr min-content 1fr min-content 1fr;
  height: max(100vh, 30rem);
  position: relative;
}

#shooz-bkd-wrapper {
  position: relative;
  grid-column: 1/4;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

#shooz-bkd {
  grid-column: 2/3;
  font-weight: 700;
  font-size: var(--title-font-size);
  padding: var(--title-padding, 0.5rem);
  border-top-right-radius: var(--title-corner, 1rem);
  border-bottom-right-radius: var(--title-corner, 1rem);
  background-color: black;
}

/* title text */
#shooz-bkd p:first-child {
  font-size: var(--title-font-size);
  line-height: 0.8;
}
/* subtitle text */
#shooz-bkd p:second-child {
  font-size: 1rem;
  line-height: 0.8;
}

#side-shooz-bkd {
  grid-column: 1/2;
  background-color: black;
}

.shooz-title {
  /* height: var(--shooz-title-ht); */
}

.shooz-subtitle {
  font-size: clamp(calc(4rem * 0.25), calc(15vw * 0.25), calc(14rem * 0.25));
}

/* CAPTION CSS */

#title-caption-wrapper {
  position: relative;
  grid-column: 1/4;
  grid-row: 5/6;
  display: grid;
  /* use title-caption-background to adjust width */
  grid-template-columns: 1fr auto 1fr;
  /* height: var(--caption-bkd-ht); */
}

#title-caption-bkd {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  position: relative;
  font-weight: 500;
  font-size: var(--caption-font-size);
  text-align: center;
  padding: var(--title-caption-padding, 0.5rem);
  border-top-left-radius: var(--round-corner, 1rem);
  border-bottom-left-radius: var(--round-corner, 1rem);
  color: white;
}

#title-caption-bkd p {
  /* font-size: var(--caption-font-size); */
}

#title-caption-side-bkd {
  grid-column: 3/4;
  grid-row: 1/2;
  background-color: rgb(0, 0, 0);
}

/* need to fix */
@media (max-width: 37rem) {
  #shooz-bkd {
    /* width: 100%; */
  }
}
