#landing {
  --txt-padding: 0.8rem;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: max(100vh, 30rem);
  width: 100%;
}

#title {
  position: relative;
  background-color: black;
  color: white;
  font-weight: 700;
  text-align: right;
  padding: var(--txt-padding, 0.5rem);
  border-top-right-radius: var(--round-corner, 1rem);
  border-bottom-right-radius: var(--round-corner, 1rem);
  right: -75%;
}

#title-background {
  background-color: black;
}

#title::before {
  content: '';
  position: absolute;
  display: inline-block;
  background-color: black;
  /* right: 10px; */
  height: 100%;
  width: 100vw;
  right: 100%;
  top: 0;
  /* left: 0vw; */

  z-index: 1;
}

.shooz-txt {
  font-size: 5rem;
}

#title-caption {
  position: relative;
  margin-left: auto;
  margin-right: 0px;
  /* top: 75%;
  right: 0; */
  background-color: black;
  color: white;
  width: 75%;
  padding: var(--txt-padding, 0.5rem);
  border-top-left-radius: var(--round-corner, 1rem);
  border-bottom-left-radius: var(--round-corner, 1rem);
}
