/* TODO:  use grid to center text and create sides
media query: make 1 column
adjust caption text size using percentages. 
move title padding to title
clean up variables not used twice
*/

#landing {
  --clamp1: var(--mobile-width);
  --clamp2: 20vw;
  --clamp3: 13rem;
  --title-padding-perc: 0.15;
  --title-padding: clamp(
    calc(var(--clamp1) * var(--title-padding-perc)),
    calc(var(--clamp2) * var(--title-padding-perc)),
    calc(var(--clamp3) * var(--title-padding-perc))
  );
  --title-corner-perc: 0.15;
  --title-corner: clamp(
    calc(var(--clamp1) * var(--title-corner-perc)),
    calc(var(--clamp2) * var(--title-corner-perc)),
    calc(var(--clamp3) * var(--title-corner-perc))
  );
  --title-font-size-perc: 1;
  --title-font-size: clamp(
    calc(var(--clamp1) * var(--title-font-size-perc)),
    calc(var(--clamp2) * var(--title-font-size-perc)),
    calc(var(--clamp3) * var(--title-font-size-perc))
  );
  --title-sub-font-size-perc: 0.2;
  --title-sub-font-size: clamp(
    calc(var(--clamp1) * var(--title-sub-font-size-perc)),
    calc(var(--clamp2) * var(--title-sub-font-size-perc)),
    calc(var(--clamp3) * var(--title-sub-font-size-perc))
  );
  --caption-font-size-perc: 0.11;
  --caption-font-size: clamp(
    calc(var(--clamp1) * var(--caption-font-size-perc)),
    calc(var(--clamp2) * var(--caption-font-size-perc)),
    calc(var(--clamp3) * var(--caption-font-size-perc))
  );
  --caption-padding-perc: 0.1;
  --caption-padding: clamp(
    calc(var(--clamp1) * var(--caption-padding-perc)),
    calc(var(--clamp2) * var(--caption-padding-perc)),
    calc(var(--clamp3) * var(--caption-padding-perc))
  );
  grid-column: 1/4;
  display: grid;
  grid-template-columns: 1fr max(20rem, 70vw) 1fr;
  grid-template-rows: min-content 1fr min-content 1fr min-content 1fr;
  height: max(100vh, 30rem);
  position: relative;
}

#shooz-bkd-wrapper {
  position: relative;
  grid-column: 1/4;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

#shooz-bkd {
  grid-column: 2/3;
  font-weight: 700;
  padding-right: var(--title-padding);
  border-top-right-radius: var(--title-corner, 1rem);
  border-bottom-right-radius: var(--title-corner, 1rem);
  background-color: black;
}

/* title text */
/* padding and corner same variable for visual consistency */

#shooz-bkd p {
  line-height: 0.8;
}

#shooz-bkd p:first-child {
  font-size: var(--title-font-size);
  line-height: 0.8;
  padding-top: var(--title-corner);
}

/* subtitle text */
#shooz-bkd p:nth-child(2) {
  font-size: var(--title-sub-font-size);
  line-height: 0.8;
  padding: var(--title-corner);
}

#side-shooz-bkd {
  grid-column: 1/2;
  background-color: black;
}

/* CAPTION CSS */

#title-caption-wrapper {
  position: relative;
  grid-column: 1/4;
  grid-row: 5/6;
  display: grid;
  /* use title-caption-background to adjust width */
  grid-template-columns: 1fr auto 1fr;
}

#title-caption-bkd {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  position: relative;
  font-weight: 500;
  font-size: var(--caption-font-size);
  text-align: center;
  padding: var(--caption-padding);
  border-top-left-radius: var(--caption-padding);
  border-bottom-left-radius: var(--caption-padding);
  color: white;
}

#title-caption-side-bkd {
  grid-column: 3/4;
  grid-row: 1/2;
  background-color: rgb(0, 0, 0);
}

.hover-blue:hover {
  color: var(--blue);
}

/* need to fix */
@media (max-width: 37rem) {
  #shooz-bkd {
  }
}
