/* TODO:  
*/

@use 'src/Sass/global' as *;

#about-sec {
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-rows: min-content min-content minmax(3rem, 1fr) min-content min-content minmax(
      3rem,
      1fr
    );
  // grid-template-columns: fit-content;
}

#about-head-link {
  grid-row: 1/2;
  grid-column: 1/2;
}
#about-head {
  grid-row: 1/2;
  grid-column: 1/2;
}

#about-body-cont {
  grid-row: 2/3;
  grid-column: 1/2;
}

#about-body {
  font-weight: 500;
}

#about-body-link {
  grid-column: 1/2;
  grid-row: 2/3;
}

#where-head-cont {
  grid-column: 1/2;
  grid-row: 4/5;
}

#where-head {
}

#where-head-link {
}

#where-body-cont {
  grid-column: 1/2;
  grid-row: 5/6;
}

#where-body {
}

#where-body-link {
  grid-column: 1/2;
  grid-row: 5/6;
}
