/* TODO:  
*/

@use 'src/Sass/global' as *;

#contact-sec {
  display: grid;
  grid-template-rows: min-content min-content $blurb-spacing-grid;

  width: 70%;
  margin-right: auto;
  margin-left: auto;
  grid-column: 2/3;
  // min-height: 40vh;
  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

// .contact-page-space {
//   height: $blurb-spacing-grid;
// }

.contact-head {
  position: relative;
  // right: 10%;
}

.contact-cont {
  display: flex;
  justify-content: center;
}

.contact-bkd {
  text-align: center;
  // max-width: 90%;
}

.contact-head-cont,
.contact-cont {
  @include resp-width();
}
