/* TODO:  
*/

@use 'src/Sass/global' as *;

#contact-sec {
  // display: flex;
  grid-column: 2/3;
}

.contact-head {
  position: relative;
  right: 10%;
}

.contact-cont {
  display: flex;
  justify-content: center;
}

.contact-bkd {
  text-align: center;
  max-width: 90%;
}
