/* TODO:  learn to program hamburger menu using only css
*/

$mobile-width: 75rem;
$ham-spacing: 0.5rem;
// 35rem

header {
  --nav-spacing: 1rem;
  /* height: fit-content; */
  grid-column: 1/4;
  grid-row: 1/2;
  width: 100vw;
}

nav {
  display: grid;
  position: relative;
  grid-template-columns: min-content 1fr min-content;
  padding: var(--nav-spacing);
  z-index: 1;
  @media (max-width: $mobile-width) {
    grid-template-columns: min-content 1fr;
  }
}

#ham-menu {
  display: none;

  @media (max-width: $mobile-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    z-index: 2;
    a {
      // display: block;
    }
  }
}

.nav-links {
  z-index: 1;
  &-click {
    @media (max-width: $mobile-width) {
      color: var(--yellow);
      // padding: $ham-spacing;
    }
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.nav-links-cont {
  display: grid;
  grid-template-columns: repeat(6, min-content);
  gap: 1rem;
  @media (max-width: $mobile-width) {
    grid-template-columns: min-content;
  }

  &-click {
    @media (max-width: $mobile-width) {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: absolute;
      padding: 1rem;
      border-bottom-left-radius: 0.7rem;
      right: var(--nav-spacing);
      // top: var(--nav-spacing);
      top: 0rem;
      width: 12rem;
      right: 0;
      height: 18rem;
      background-color: black;
      line-height: 1;
    }
    a {
      padding: $ham-spacing;
    }
    a:hover {
      text-decoration-line: underline;
      text-decoration-color: var(--blue);
    }
    div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      gap: $ham-spacing;
      padding: $ham-spacing;

      //github, linkedin links
      a {
        text-align: center;
        line-height: 2;
        width: fit-content;
        margin: auto;
        // display: block;
        svg {
          fill: var(--yellow);
          &:hover {
            fill: var(--blue);
          }
        }
      }
      //resume button is top row
      button {
        margin: 0 auto;
        display: block;
        grid-column: 1/3;
        text-align: center;
        background-color: transparent;
        border: 0.1rem solid var(--yellow);
        border-radius: 99rem;
        color: var(--yellow);
        width: 5rem;
        line-height: 1.2;
      }
      button:hover {
        border-color: var(--blue);
      }
    }
  }
}
