/* TODO:  convert ul to grid or fix spacing*/

$mobile-width: 65rem;
// 35rem

header {
  --nav-spacing: 1rem;
  /* height: fit-content; */
  grid-column: 1/4;
  grid-row: 1/2;
  width: 100vw;
}

nav {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  padding: var(--nav-spacing);
}

#hamMenu {
  display: none;
  height: 2rem;
  width: 2rem;
  @media (max-width: $mobile-width) {
    display: block;
  }
}

#nav-links-cont {
  display: grid;
  grid-template-columns: repeat(5, min-content);
  gap: 1rem;
  @media (max-width: $mobile-width) {
    grid-template-columns: min-content;
  }
}

.nav-links {
  @media (max-width: $mobile-width) {
    display: none;
  }
}
