/* TODO:  convert ul to grid or fix spacing*/

header {
  --nav-spacing: 0rem;
  /* height: fit-content; */
  grid-column: 1/4;
  grid-row: 1/2;
  width: 100vw;
}

nav {
}

#nav-bar {
  display: grid;
  grid-template-columns: min-content 1fr;
  /* gap: 1rem; */
}

#nav-bar > a {
  padding: var(--nav-spacing);
}
/* #nav-bar > * {
  padding: 1rem;
} */

#nav-bar ul {
  display: flex;
  justify-content: right;
  align-items: center;
}
#nav-bar ul li {
  display: inline;
  padding: var(--nav-spacing);
}

.links {
  display: flex;
  /* vv visibility */
  /* display: none; */
}

#hamMenu {
  display: none;
  height: 2rem;
  width: 2rem;
}
